<div class='container'>
  <div class='row pt-5'>
    <div class="col-lg-3">
      <h5 class="bg-dark text-light text-center">ユーザー一覧</h5>
    </div>
    <table class='table'>
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th></th>
          <th>氏名</th>
          <th>都道府県</th>
        </tr>
    　</thead>
    　<tbody>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td><%= image_tag customer.get_image(200,200) %></td>
          <td><%= customer.name %></td>
          <td><%= customer.prefecture %></td>
        </tr>
        <% end %>
    　</tbody>
    </table>
    </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <%#= paginate @customers %>
    </div>
  </div>
</div>
