<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
    <h1>About</h1>
      <p>AWC(animal welfare community)は野良で保護した又は飼いきれなくなったペットを譲渡したい人と</p>
      <p>これからペットを飼いたいと思っている人をマッチングさせるコミュニティーサイトです。</p>
      <p>現在も、年間約10万匹もの犬･猫たちがまだある命を</p>
      <p>無理やりに奪われている悲しい現実があります。</p>
      <p>原因としては、野良猫の繁殖や多頭飼育だそうです。</p>
      <p>そういった動物達の命を救う事に少しでも繋がればと思い、当サイトを作成しました。</p>
      <p>実際の取引は会員登録後、当事者間のDMにて行っていただきます。</p>
      <p>是非ご活用ください。</p>
      
      <%#= image_tag "coffee.jpg", class: "img-fluid" %>
      
    </div>
  </div>
</div>