@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

header{
  background-color: #deb887;
}

main{
  background-color: #ffffe0;
  height: 100%;
}

footer{
  background-color: #deb887;
  margin-top: auto;
  padding: 30px 0;
  text-align: center;
}